$l: 120px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.contain {
  overflow: hidden;
  transform: translate(-4 * $l, -$l);
  position: absolute;
  width: $l * 30;
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(circle, #f5b200 1%, #fc636b 20%, #ff6d92 30%);
  background: -webkit-radial-gradient(circle, #f5b200 1%, #fc636b 20%, #ff6d92 30%);
  -webkit-animation: gradient 40s ease infinite;
  -moz-animation: gradient 40s ease infinite;
  animation: gradient 40s ease infinite;
  background-size: 400% 400%;
}

.drifter {
  animation: drift 6s linear infinite;
}

.tops {
  margin-right: $l;
  background-size: contain;
  background-image: url('http://i64.tinypic.com/iw22ww.jpg');
  background-repeat: no-repeat;
  width: $l; height: $l;
}

.sides {
  margin-left: $l;
  background-size: contain;
  background-image: url('http://i64.tinypic.com/iw22ww.jpg');
  background-repeat: no-repeat;
  width: $l; height: $l;
}


// @keyframes drift {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate($l*2, -$l*2);
//   }
// }

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}




