  <div class="container">
    <% 10.times do %>
    <% 15.times do %>
    <div class="drifter">
      <div class="tops"></div>
    </div>
    <% end %>
    <% 15.times do %>
    <div class="drifter">
      <div class="sides"></div>
    </div>
    <% end %>
    <% end %>
  </div>

